body{
	background-image: url('../img/fundo.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

*{
	/* background-color: transparent; */
	/* color: transparent; */
    margin: 0;
	padding: 0;
}

#DivProd1{
	position: absolute;
    top: auto;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 100%;
    background-color:#004085;
}